<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

      <extension point="org.eclipse.ui.ide.projectNatureImages">
            <image icon="icons/meandreNature.gif" 
                   natureId="org.meandre.ide.eclipse.component.builder.meandrenature" 
                   id="org.meandre.ide.eclipse.component.builder.meandrenatureimage">
             </image>
      </extension>
   
   
   
   <extension
         point="org.eclipse.ui.popupMenus"> 
      <objectContribution
            objectClass="java.lang.Object"
            nameFilter="*.java"
            id="org.meandre.ide.eclipse.component.contribution2">
         <menu
               label="Meandre Component"
               path="additions"
               id="org.meandre.ide.eclipse.component.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Create Descriptor"
               class="org.meandre.ide.eclipse.component.popup.actions.CreateDescriptorAction"
               menubarPath="org.meandre.ide.eclipse.component.menu1/group1"
               enablesFor="1"
               id="org.meandre.ide.eclipse.component.newAction">
         </action>
         <action
               label="Find Component Dependency"
               class="org.meandre.ide.eclipse.component.popup.actions.FindComponentDependencyAction"
               menubarPath="org.meandre.ide.eclipse.component.menu1/group1"
               enablesFor="1"
               id="org.meandre.ide.eclipse.component.newAction2">
         </action>
           <action
               label="Install Component"
               class="org.meandre.ide.eclipse.component.popup.actions.InstallComponentAction"
               menubarPath="org.meandre.ide.eclipse.component.menu1/group1"
               enablesFor="+"
               id="org.meandre.ide.eclipse.component.newAction3">
         </action>
         
          
         
      </objectContribution>
      


         <objectContribution
              id="org.meandre.ide.eclipse.component.contribution3"
              nameFilter="*.rdf"
              objectClass="org.eclipse.core.resources.IFile">
                  <menu
               label="Meandre Component"
               path="additions"
               id="org.meandre.ide.eclipse.component.menu2">
            		<separator
                  name="group1">
           		 </separator>
       			 </menu>
               <action
               label="Install Non Java Component"
               class="org.meandre.ide.eclipse.component.popup.actions.InstallNonJavaComponentAction"
               menubarPath="org.meandre.ide.eclipse.component.menu2/group1"
               enablesFor="1"
               id="org.meandre.ide.eclipse.component.newAction4">
         </action>
         
      </objectContribution>  
      
      
      
      
       
     <!--   	  objectClass="java.lang.Object"
      		      ADDED JULY 10th 
               
      -->  
       <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="org.meandre.ide.eclipse.component.contribution22"
               nameFilter="*.java"
            >
         <menu
               label="Meandre Component"
               path="additions"
               id="org.meandre.ide.eclipse.component.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
            <menu
               label="Meandre Component"
               path="additions"
               id="org.meandre.ide.eclipse.component.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Create Descriptor"
               class="org.meandre.ide.eclipse.component.popup.actions.CreateDescriptorAction"
               menubarPath="org.meandre.ide.eclipse.component.menu1/group1"
               id="org.meandre.ide.eclipse.component.newAction">
         </action>
         <action
               label="Find Component Dependency"
               class="org.meandre.ide.eclipse.component.popup.actions.FindComponentDependencyAction"
               menubarPath="org.meandre.ide.eclipse.component.menu1/group1"
               id="org.meandre.ide.eclipse.component.newAction2">
         </action>
           <action
               label="Install Component"
               class="org.meandre.ide.eclipse.component.popup.actions.InstallComponentAction"
               menubarPath="org.meandre.ide.eclipse.component.menu1/group1"
               id="org.meandre.ide.eclipse.component.newAction3">
         </action>
         
          
       
            
            </viewerContribution>
       
      
      <!-- END ADDED JULY 10th-->
      
      
      </extension>
     
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.meandre.ide.eclipse.component.properties.SamplePropertyPage"
            id="org.meandre.ide.eclipse.component.properties.samplePropertyPage"
            name="Sample Page"
            nameFilter="*.*"
            objectClass="org.eclipse.core.resources.IFile">
      </page>
   </extension>
   
   
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="org.meandre.ide.eclipse.component.preferences.MeandrePreferencePage"
             id="org.meandre.ide.eclipse.component.preferences.MeandrePreferencePage"
             name="Meandre Preferences">
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.meandre.ide.eclipse.component.preferences.PreferenceInitializer">
       </initializer>
    </extension>


<extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      
       <toc
            file="tocquickstart.xml">
      </toc>
      
        <toc
            file="toclicense.xml">
      </toc>
</extension>


    
   
   
    
    
    
     <extension point="org.eclipse.ui.popupMenus">
                <objectContribution
              objectClass="org.eclipse.core.resources.IFolder"
                    id="org.meandre.ide.eclipse.component.wizard.popup1"
                    nameFilter="*"
                    adaptable="true"
                    >
               <menu
               label="Meandre Component"
               path="additions"
               id="org.meandre.ide.eclipse.component.menu1">
            	<separator
                  name="group1">
            	</separator>
        	 </menu>
             <action label="Install Components Wizard"
                      icon="icons/create.gif"  
                      class="org.meandre.ide.eclipse.component.wizard.dependency.CreateWizardAction"
                      id="org.meandre.ide.eclipse.component.wizard.dependency.CreateWizardAction1"
                      menubarPath="org.meandre.ide.eclipse.component.menu1/group1"
              >
               </action>
               </objectContribution>
        </extension>


</plugin>
